/* Start Box */
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.d-block{
    display: block;
}

@media (max-width:767px) {
    .block-mobile{
        display: block;
    }
    .hide-mobile{
        display: none;
    }
}
.align-center{
    align-items: center;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.between-flex{
    align-items: center;
    justify-content: space-between;
}
.around-flex{
    justify-content: space-around;
}
.f-wrap{
    flex-wrap: wrap;
}
/* End Box */
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.b-none{
    border: none;
}
/* Start Color */
.bg-F6{
    background-color: #F6F6F6;
}
.bg-eee{
    background-color: #EEEEEE;
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-blue-alt{
    background-color: var(--blue-alt-color);
}
.bg-blue-alt2{
    background-color: var(--blue-alt2-color);
}
.bg-orange{
    background-color: var(--orange-color);
}
.bg-orange-alt{
    background-color: var(--orange-alt-color);
}
.bg-green{
    background-color: var(--green-color);
}
.bg-green-alt{
    background-color: var(--green-alt-color);
}
.c-black{
    color: black;
}
.c-gray{
    color: var(--grey-color);
}
.c-green{
    color: var(--green-color);
}
.c-white{
    color: white;
}
.c-blue{
    color: var(--blue-color);
}
.c-red{
    color: red;
}
.c-orange{
    color: var(--orange-color);
}
/* End Color */
/* Start Padding + Margin + Gap*/
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.m-0{
    margin:0px;
}
.m-20{
    margin: 20px;
}
.ml-10{
    margin-left: 10px;
}
.ml-15{
    margin-left: 15px;
}
.ml-20{
    margin-left: 20px;
}
.ml-25{
    margin-left: 25px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-0{
    margin-top: 0px;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}

.gap-20{
    gap: 20px;
}
/* Start width */
.wd-100{
    width: 100%;
}
.wd-fit{
    width: fit-content;
}

/* End width */

/* End Padding + Margin */
/* Start Position */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
/* End Position */
/* Start Font */
@media (max-width:767px) {
    .txt-c-mobile{
        text-align: center;
    }
}
.txt-c{
    text-align: center;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-20{
    font-size: 20px;
}
.fs-25{
    font-size: 25px;
}
.fw-bold{
    font-weight: bold;
}
.wi
/* End Font */

/* Start Transitions */
.tran-02{
    transition: 0.2s;
}
/* End Transitions */

/* Start Shapes */

.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
}

/* End Shapes */
